html {
  font-family: JosefinSans-Regular;
  color: white;
  text-align: center;
  background: linear-gradient(to right top,#FFA0BF, #FFC579);
  font-family: 'Josefin Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background: linear-gradient(to right top,#480080, #AC32D9);
  }
}

body {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 1rem;
}

::selection {
  background-color: cyan;
}

.currentadvancedinfo {
  border: 2.5px;
  border-color: white;
  border-radius: 10px 10px 0px 0px;
  border-style: solid;
}

.basicinfo {
  border: 10px;
  border-color: black;
  border-radius: 10px;
}

.nextdayadvancedinfo {
  border: 2.5px;
  border-color: white;
  border-radius: 0px 0px 10px 10px;
  border-style: solid;
}

p {
  font-weight: normal;
  font-size: 16px;
}

p1 {
  font-weight: normal;
  font-size: 16px;
}

p2 {
  font-weight: normal;
  font-size: 16px;
}

p3 {
  font-weight: normal;
  font-size: 16px;
}

p4 {
  font-weight: normal;
  font-size: 16px;
}

.weeklyweather {
  width: 100vw;
  height: 50vh;
  display: flex;
  overflow-x: auto;
}

.weeklyweather::-webkit-scrollbar {
  width: 0;
}

.weeklyweather .item {
  min-width: 300px;
  margin-top: 3.5px;
  height: 250px;
  text-align: center;
}

.weeklyweather .item {
  border: 5px;
  border-color: white;
  border-radius: 10px;
  margin-right: 2px;
}

.hourlyweather {
  width: 100vw;
  height: 50vh;
  display: flex;
  overflow-x: auto;
}

.hourlyweather::-webkit-scrollbar {
  width: 0;
}

.hourlyweather .stuff {
  min-width: 150px;
  margin-top: 3.5px;
  height: 150px;
  text-align: center;
}

.hourlyweather .stuff {
  border: 5px;
  border-color: white;
  border-radius: 10px;
  margin-right: 2px;
}


iframe {
  width: 90%;
  height: 90vh;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  overflow: hidden;
  border: 1.5px;
  border-radius: 0px 0px 10px 10px;
  border-color: white;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background: white;
  color: cyan;
}

.nav a.active {
  background-color: cyan;
  color: white;
}
