html {
  font-family: arial;
  color: white;
  text-align: center;
  float: center;
  background-image: url(tropicallybackground.jpg);
  background-size: cover;
  background-repeat: none;
}

::selection {
  background-color: cyan;
}

.currentadvancedinfo {
  border: 2.5px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}

.basicinfo {
  border: 10px;
  border-color: black;
  border-radius: 10px;
}

.nextdayadvancedinfo {
  border: 2.5px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}

p {
  font-weight: normal;
  font-size: 16px;
}

p1 {
  font-weight: normal;
  font-size: 16px;
}

p2 {
  font-weight: normal;
  font-size: 16px;
}

p3 {
  font-weight: normal;
  font-size: 16px;
}

p4 {
  font-weight: normal;
  font-size: 16px;
}
