html {
  font-family: JosefinSans-Regular;
  color: white;
  text-align: center;
  background: linear-gradient(to right top,#65DFC9, #6CDBEB);
  border-color: white;
  border: 2.5px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 1rem;
}

::selection {
  background-color: cyan;
}

.currentadvancedinfo {
  border: 2.5px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}

.basicinfo {
  border: 10px;
  border-color: black;
  border-radius: 10px;
}

.nextdayadvancedinfo {
  border: 2.5px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}

p {
  font-weight: normal;
  font-size: 16px;
}

p1 {
  font-weight: normal;
  font-size: 16px;
}

p2 {
  font-weight: normal;
  font-size: 16px;
}

p3 {
  font-weight: normal;
  font-size: 16px;
}

p4 {
  font-weight: normal;
  font-size: 16px;
}

.weeklyweather {
  max-height: 150px;
  display: flex;
  overflow-x: auto;
}

.weeklyweather .item {
  min-width: 200px;
  margin-top: 50px;
  height: 150px;
  vertical-align: 75px;
  text-align: center;
  border: 5px;
  border-color: white;
  border-radius: 10px;
  color: white;
}
